<div class="post card">
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="edit-post-form" class="img-preview">
    <input type="hidden" name="img-id" value="{{post.id}}" />

    <label class="file-upload" for="post-title">Title</label>
    <input type="text" name="post-title" value="{{post.title}}" class="form-input" />

    
    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>



<script src="/javascript/fileupload.js"></script>