*{
  color: #BF0A30;
  }
  
  body {
  background-image:url(/images/AZ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  background-attachment: scroll;
  height: 100vh;
  width: 100%;
  background-color: black;
  }
  
  header{
  background-image: url(/images/AZ-flag.jpg);
  background-size: cover;
  background-position: center;
  }
  #banner{
      margin:0;
  }
  
  a{
      color: #CE5C17;
  }
  
  a:hover {
      background-color: #FED700;
  }
  header nav {
      margin: 7px 0;
  }
  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }
  #cactus:hover::before{
      content:'🌵'
  }
  .fa, .material-icons {
      padding: 20px;
      font-size: 20px;
      width: 80px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }

  .fa:hover {
      opacity: 0.7;
    }

.post-list {
  margin: 0;
  padding: 0;
}
.post {
  text-align: center;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.delete-post-btn {
  background-color: #bf0A30;
}

.delete-post-btn:hover {
  background-color: #CE5C17;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  background-color: #002868;
}